main p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    font-family: sans-serif;
}
main img {
    width: 400px;
}

h1 img {
    width: 200px;
}

header {
    background-color: black;
    border-radius: 10px;
}

header h1 {
    color: white;
    font-size: 75px;
}

.button {
    color: white;
    background-color: black;
    font-size: 35px;
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.avatar {
    width: 90px;
    height: 90px;
    margin-top: 8px;
    margin-left: 8px;
}

footer {
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 2px;
}

html {
    text-align: center;
}

img {
    border-radius: 5px;
}

p {
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

select {
    padding: 0px;
}
